.obsidian/
.godot/
.godot-sdk/
.dotnet-home/
.home/
.nuget/
.cache/
.config/
.DS_Store
build/*.app/
build/rom_extracts/**
!build/rom_extracts/
!build/rom_extracts/**/
!build/rom_extracts/**/INDEX.md
*.uid
